/* Remove default body margin so background fills */
body {
    margin: 0;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px; /* your navbar height */
    background: #000;
    border-bottom: 2px solid #00ff66;

    display: flex;
    justify-content: center;   /* <-- horizontally center */
    align-items: center;        /* <-- vertically center */

    z-index: 999;
}



/* LOGO */
.nav-logo {
    position: absolute;
    left: 30px;
    font-size: 1.4rem;
    color: #00ff66;
    font-family: "Consolas", "Fira Code", monospace;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffcc00; /* highlight color */
}
